<p class="fields">
<%= f.label :content, "Choice" %>
<%= link_to_remove_fields "remove", f %>
<%= f.text_field :content %>
<%= f.label :answer, class: "answer" %>
<%= f.check_box :answer, class: "answer" %>
</p>
