<% provide(:title, "Doing the math!") %>

<h2>Score: <%= current_user.score %></h2>
<div class="hero-unit">

  <% if @done %>

    <h1>You answered all questions!</h1>

    <p>Congratulations!</p>

    <p>Come back later for some more questions.</p>

  <% else %>

    <p><%= @question.content %></p>

    <%= form_tag("/responses", method: "post") do %>
      <%= hidden_field_tag 'question_id', @question.id %>
      <% if @question.choices.count == 1 %>
        <%= text_field_tag "response[content]" %>
      <% else %>
        <% @question.choices.each do |choice| %>
          <% if @question.nb_answers == 1 %>
            <p><%= radio_button_tag "response[content]", choice.content %> <%= choice.content %></p>
          <% else %>
            <p><%= check_box_tag "response[#{choice.content}]", true %> <%= choice.content %></p>
          <% end %>
        <% end %>
      <% end %>

      <%= submit_tag "Submit" %>
      <%= submit_tag "Skip" %>
    <% end %>
  <% end %>

</div>

