<% provide(:title, "Doing the math!") %>

<div class="row">

  <div class="span8 offset2">
    <p><%= @question.content %></p>

    <%= form_tag("/responses", method: "post") do %>
      <%= hidden_field_tag 'question_id', @question.id %>
      <% if @question.choices.count == 1 %>
        <%= text_field_tag "response[content]" %>
      <% else %>
        <% @question.choices.each do |choice| %>
          <% if @question.nb_answers == 1 %>
            <p><%= radio_button_tag "response[content]", choice.content %> <%= choice.content %></p>
          <% else %>
            <p><%= check_box_tag "response[#{choice.content}]", true %> <%= choice.content %></p>
          <% end %>
        <% end %>
      <% end %>

      <%= submit_tag "Submit" %>
      <%= submit_tag "Skip" %>
    <% end %>
  </div>

</div>

